<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!-- Include the ECharts file you just downloaded -->
    <script src="echarts.js"></script>
</head>

<!-- <body>

    <div class="form-group">
        <label for="difficulty">Difficulty</label>
        <select class="form-control" [(ngModel)]="SelectedDifficulty" (change)="onOptionChange($event)">
            <option value="default">--Select Difficulty--</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>

    <div id="gauge-container"></div>

</body> -->

</html>