<header class="header-top">
          <nav class="header-container">
              <ul class="navigation-menu">
                <li>
                  <img src="../../assets/117944.png">
                   <a class="navigation-link" routerLink="home">Quizzons !</a>
                </li>
                <li class="navigation-item">
                   <a class="navigation-link" *ngIf="isConnected" routerLink="Quizz">Start a Quizz</a>
                </li>
                <li class="navigation-item">
                   <a class="navigation-link" *ngIf="isConnected" routerLink="Profile">Your Profile</a>
                </li>      
                <li class="navigation-item">
                   <a class="navigation-link" *ngIf="!isConnected" routerLink="Login">Log In</a>
                </li>
                <li class="navigation-item">
                   <a class="navigation-link" *ngIf="!isConnected" routerLink="Register">Sign In</a>
                </li>
                <li class="navigation-item">
                   <a class="navigation-link" *ngIf="isConnected"> Welcome {{user.Nom_utilisateur}} </a>
                </li>
                <li class="navigation-item">
                   <a class="navigation-link" *ngIf="isConnected" (click)="LogOut()">LogOut</a>
                </li>
              </ul>
          </nav>
  </header>
  
  <router-outlet></router-outlet>
  
  <script src="/src/assets/plugins/jquery/jquery.js"></script>
      <!-- Bootstrap jQuery -->
      <script src="/src/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="/src/assets/plugins/bootstrap/js/popper.min.js"></script>
      <!-- Owl caeousel -->
      <script src="/src/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
      <script src="/src/assets/plugins/slick-carousel/slick.min.js"></script>
      <script src="/src/assets/plugins/magnific-popup/magnific-popup.js"></script>
      <!-- Instagram Feed Js -->
      <script src="/src/assets/plugins/instafeed-js/instafeed.min.js"></script>
      <!-- Google Map -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
      <script src="/src/assets/plugins/google-map/gmap.js"></script>
      <!-- main js -->
      <script src="src/assets/custom.js"></script>
  
  
