<section>
  <div class="login-page">
    <div class="centered-container">
      <div class="card">
        <h2 class="login-title">Enter your username and password</h2>
        <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
          <input class="input-text" type="text" formControlName="userName" placeholder="Enter your username">
          <input class="input-text" [type]="showPassword ? 'text' : 'password'" placeholder="Password"formControlName="passWord">
          <button class="login-button" type="submit">LOGIN</button>
        </form>
      </div>
    </div>
  </div>
</section>
