<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div *ngIf="Wizard" class="container-wizard">
    <form [formGroup]="wizardForm" (ngSubmit)="OnSubmit()">
        <div class="form-item">
            <label class="form-label" for="numQuestions">Number of Questions</label>
            <input type="number" class="input-text" id="numQuestions" name="numQuestions" formControlName="amount"
                required>
        </div>
        <div class="form-item">
            <label class="form-label" for="difficulty">Difficulty</label>
            <select class="input-text" id="difficulty" name="difficulty" formControlName="difficulty" required>
                <option value="">--Select Difficulty--</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
        </div>
        <div class="form-item">
            <label class="form-label" for="category">Category</label>
            <select class="input-text" id="category" name="category" formControlName="category" required>
                <option value="">Any Category</option>
                <option value="9">General Knowledge</option>
                <option value="10">Entertainment: Books</option>
                <option value="11">Entertainment: Film</option>
                <option value="12">Entertainment: Music</option>
                <option value="13">Entertainment: Musicals &amp; Theatres</option>
                <option value="14">Entertainment: Television</option>
                <option value="15">Entertainment: Video Games</option>
                <option value="16">Entertainment: Board Games</option>
                <option value="17">Science &amp; Nature</option>
                <option value="18">Science: Computers</option>
                <option value="19">Science: Mathematics</option>
                <option value="20">Mythology</option>
                <option value="21">Sports</option>
                <option value="22">Geography</option>
                <option value="23">History</option>
                <option value="24">Politics</option>
                <option value="25">Art</option>
                <option value="26">Celebrities</option>
                <option value="27">Animals</option>
                <option value="28">Vehicles</option>
                <option value="29">Entertainment: Comics</option>
                <option value="30">Science: Gadgets</option>
                <option value="31">Entertainment: Japanese Anime &amp; Manga</option>
                <option value="32">Entertainment: Cartoon &amp; Animations</option>
            </select>
        </div>
        <div class="form-item">
            <label class="form-label" for="Type">Type of questions</label>
            <select class="input-text" id="Type" name="Type" formControlName="Type" required>
                <option value="">--Select Type of questions--</option>
                <option value="multiple">Multiple choice</option>
                <option value="boolean">True/False</option>
            </select>
        </div>
        <button type="submit" class="start-button">Start Quiz</button>
    </form>

</div>
<div *ngIf="!Wizard">
    <div class="quiz" *ngFor="let question of game.questions;  let i = index;">
        <div id="{{ 'question' + i + 1 }}">
            <h2 [innerHTML]="question.question" style="display: inline-block; margin-right: 2rem; margin-top:auto"></h2>
            <button (click)="initiateRecording(i)" class="btn btn-primary record-button" *ngIf="!recordingStates[i]"
                style="cursor: pointer;background-color: green;color: white;display: inline-block; vertical-align:top;">
                <i class="fa fa-microphone"></i> </button>
            <button (click)="stopRecording(i)" class="btn btn-danger" *ngIf="recordingStates[i]"
                style="cursor: pointer;background-color: red;color: white;display: inline-block; vertical-align:top;">
                <i class="fa fa-microphone"></i> </button>
            <div *ngIf="donePrediction && currentQuestionIndex === i" class="prediction-container">
                <input id="{{ 'questionAnswer' + (i + 1) }}" type="text" class="prediction" [value]="predictionValue"
                    [disabled]="!isAnswerSelectionEnabled" />
                <button class="btn btn-success" (click)="selectAnswer(true)"><i class="fa fa-check-circle"></i></button>
                <button class="btn btn-danger" (click)="undisableTextBox()"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <ul>
            <li *ngFor="let answer of question.answers; let j = index;"
                [ngClass]="{ 'highlighted': answer.isSelected }">
                <span [innerHTML]="j+1"></span>
                <span>)&ensp;</span>
                <span [innerHTML]="answer.answer"></span>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-center w-100">
        <button type="submit" class="btn btn-primary" *ngIf="allQuestionsAnswered()"
            (click)="onSubmitCompletedQuiz()">Submit Quiz</button>
    </div>
</div>