<div *ngIf="!endofquiz">
    <div *ngIf="!showAnswers" class="quiz-all">
        <p>{{questions[currentQuestion].text}}</p>
        <div>
            <button (click)="checkAnswer(true)" class="quiz-button">Vrai</button>
            <button (click)="checkAnswer(false)" class="quiz-button">Faux</button>
        </div>
    </div>
  
    <div *ngIf="showAnswers" class="quiz-all">
        <p>{{questions[currentQuestion].text}}</p>
        <p *ngIf="questions[currentQuestion].answer !== null"
            [ngClass]="{'correct-answer': questions[currentQuestion].answer, 'incorrect-answer': !questions[currentQuestion].answer}">
            {{questions[currentQuestion].answer ? 'Bonne réponse !' : 'Mauvaise réponse'}}
        </p>
        <p>{{questions[currentQuestion].commentary}}</p>
        <button (click)="nextQuestion()" class="quiz-button">Suivant</button>
    </div>
</div>

<div *ngIf="endofquiz" class="quiz-all">
    Votre score est de : {{ score }}/{{ this.questions.length }}
    <button (click)="restartquiz()" class="quiz-button">Recommencer</button>
</div>
  