#graphContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2rem;
  max-width: 95%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.graphs {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* use space-between to make sure there's space around the graphs */
  width: 100%;
}

#barplot-container {
  flex: 2.5; /* take up 3 parts of the container */
  height: 200px;
  margin: 10px;
  border: 1px solid #ccc;
}

#pie-container {
  flex: 1.5; /* take up 1 part of the container */
  height: 200px;
  margin: 10px;
  border: 1px solid #ccc;
}
