<div id="graphContainer">
  <div class="graphs">
    <div id="barplot-container"></div>
    <div id="pie-container"></div>
  </div>
</div>
<section>
  <div class="profile-page">
    <div class="card">
    <form [formGroup]="profileForm">
      <h6 class="profile-title">Informations</h6>
      <h6 class="profile-info">Username</h6>
      <input class="input-text" type="text" formControlName="pseudo">
      <h6 class="profile-info">E-mail</h6>
      <input class="input-text" type="text" formControlName="email">
      <h6 class="profile-info">New Password</h6>
      <input class="input-text" type="password" formControlName="newPassword">
      <button class="update-button" *ngIf="profileForm.valid" type="submit">Update password</button>
      <p *ngIf="(!profileForm.valid) && (profileForm.value.newPassword != '')" class="text-danger"> New password has to be conform ! </p>
      <button class="delete-button" (click)="Ondelete()">delete profile</button>
    </form>
    </div>
  </div>
</section>
