<div id="graphContainer">
  <div class="graphs">
    <div id="barplot-container"></div>
    <div id="pie-container"></div>
  </div>
</div>

<section class="my-3">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3">
          <form [formGroup]="profileForm">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white">
                <img src="https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png" alt="Avatar"
                  class="img-fluid my-3" />
                <i class="far fa-edit mb-5"></i>
                <div class="col-md-12 gradient-custom text-center text-white mt-4">
                  <button class="btn btn-primary" (click)="Ondelete()">Delete profile</button>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="form-group pt-2">
                    <input type="text" class="form-control mb-3" formControlName="pseudo" placeholder="Username">
                    <input type="text" class="form-control mb-3" formControlName="email" placeholder="E-mail">
                    <input type="password" class="form-control mb-3" formControlName="newPassword"
                      placeholder="New Password">
                    <p *ngIf="(!profileForm.valid) && (profileForm.value.newPassword != '')" class="text-danger mb-3">
                      New password has to be conform ! </p>
                    <button *ngIf="profileForm.valid" type="submit" class="btn btn-primary">Update password</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>