<section>
  <div class="register-page">
    <div class="centered-container">
      <div class="card">
        <h2 class="register-title">Create your account</h2>
        <form [formGroup]="registerForm" (ngSubmit)="OnSubmit()">
          <input class="input-text" type="text" formControlName="userName" placeholder="Enter your username">
          <input class="input-text" [type]="showPassword ? 'text' : 'password'" placeholder="Enter your password " formControlName="passWord">
          <p class="text-danger" *ngIf="!is_valid_form">Password must be an 8 to 12 string containing UpperCase and LowerCase letters, digits and special characters</p>
          <input class="input-text" type="text" formControlName="email" placeholder="Enter your e-mail">
          <p class="text-danger" *ngIf="!is_valid_form">This might not be a valid mail address</p>
          <input class="input-text" type="number" formControlName="age" placeholder="Enter your age">
          <input class="input-text" type="text" formControlName="country" placeholder="Enter your country">
          <button class="register-button" type="submit" *ngIf="!submitted">REGISTER</button>
          <p *ngIf="submitted" class="userCreated"> The user {{user.Nom_utilisateur}} has been created</p>
        </form>
      </div>
    </div>
  </div>
</section>
